<section class="section">
    <div class="title">
        <h1 class="firstText" style="color: #ffffff;"><span style="color: #ff4d5a;">MY </span>PROJECTS</h1>
        <!-- <h1 class="secondText">The path from project to thing take some time.</h1> -->
    </div>

    <div class="content">
        <div class="projects">
            <a class="project" href="https://github.com/arielrigo/Portfolio">
                <div class="project">
                    <img class="object-image" src="assets/img/portfolioImg.jpg" />
                    <div class="objects">
                        <p class="object-text">{{obj.name}}</p>
                        <p class="object-text">{{obj.date}}</p>
                        <p class="object-text">{{obj.description}}</p>
                    </div>
                </div>
            </a>


            <!-- <img style="width: 200px; height: 200px;" src='{{"assets/img/" + obj.img + ".jpg"}}' alt="project"> -->

            <a class="project" href="https://github.com/arielrigo/ClothesStore-ecommerce">
                <div class="project">
                    <img class="object-image" src="assets/img/clothes.jpeg" />
                    <div class="objects">
                        <p class="object-text">{{clothesObj.name}}</p>
                        <p class="object-text">{{clothesObj.date}}</p>
                        <p class="object-text">{{clothesObj.description}}</p>
                    </div>
                </div>
            </a>

            <a class="project" href="https://github.com/arielrigo/Weather-Query-Consulta-de-clima-">
                <div class="project">
                    <img class="object-image" src="assets/img/query.png" />
                    <div class="objects">
                        <p class="object-text">{{queryObj.name}}</p>
                        <p class="object-text">{{queryObj.date}}</p>
                        <p class="object-text">{{queryObj.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>