<div class="tudo">
    <div class="Info">
        <div class="content">
            <h1>Ariel <br> Rigo</h1>

            <div class="border"></div>
            <div class="border-2"></div>

            <div class="sub-content">
                <h3>front-end developer</h3>
            </div>
        </div>
    </div>

    <section class="banner">
        <div class="moon">
            <div class="moonHole"></div>
            <div class="moonHoleSmall"></div>
            <div class="moonHoleSmallest"></div>
            <div class="moo-shadow"></div>
            <div class="moo-low"></div>
            <div class="moo-low"></div>
            <div class="moo-low"></div>

            <div class="moo-low"></div>
            <div class="moo-low"></div>
            <div class="moo-low"></div>
            <div class="moo-low"></div>

        </div>

        <div class="container">
            <div id="scene">
                <div class="layer" id="1" data-depth="0.2"><img src="assets/img/cloud1.png"></div>
                <div class="layer" id="2" data-depth="0.5"><img src="assets/img/cloud2.png"></div>
                <div class="layer" id="3" data-depth="0.4"><img src="assets/img/cloud2.png"></div>
                <div class="layer" id="4" data-depth="0.5"><img src="assets/img/cloud1.png"></div>
            </div>
        </div>
        <div class="portfolio">
            <h1 data-depth="0.1">PORTFOLIO</h1>

        </div>

    </section>
</div>


<router-outlet></router-outlet>