@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::ng-deep body {
    overflow: hidden;
}

.Info {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10%;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: flex-start;
}

body.active {
    background-color: aliceblue;
}

.content {
    position: relative;
    top: -90px;
    order: 1;
    letter-spacing: 8px;
    font-size: 80px;
    text-shadow: 1 10px 15px rgb(2 11 22 / 20%);
    color: white;
    font-family: 'Aboreto', cursive;
    font-family: 'Bebas Neue', cursive;
    flex-wrap: wrap;
    line-height: 1;
    z-index: 200;
    margin: 0%;
    border: 0;
    height: 230px;
    width: 230px;
}

.sub-content {
    letter-spacing: 0px;
}

.border {
    margin: 7px;
    order: 2;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: #ff4d5a;
}

.border-2 {
    position: relative;
    left: 50px;
    margin: 7px;
    order: 3;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: #ff4d5a;
}

.sub-content {
    order: 4;
    margin: 0;
    display: flex;
    font-size: 15px;
    color: white;
    font-family: 'futura_r', 'Helvetica Neue', 'Helvetica', 'Arial', 'Avenir', 'Hiragino Sans', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.moon {
    position: absolute;
    top: 30px;
    left: 85px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    z-index: 1;
}

.moonHole {
    background-color: rgb(223, 222, 222);
    z-index: 1;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 70px;
}

.moonHoleSmall {
    background-color: rgb(223, 222, 222);
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 180px;
}

.moonHoleSmallest {
    background-color: rgb(223, 222, 222);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 190px;
    left: 220px;
}

.moon .moo-low:nth-child(5) {
    position: absolute;
    top: -47px;
    left: -50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 600px;
    width: 600px;
    z-index: -1;
    opacity: 000.08;
}

.moon .moo-low:nth-child(6) {
    position: absolute;
    top: -90px;
    left: -100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 700px;
    width: 700px;
    z-index: -2;
    opacity: 000.07;
}

.moon .moo-low:nth-child(7) {
    position: absolute;
    top: -133px;
    left: -150px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 800px;
    width: 800px;
    z-index: -3;
    opacity: 000.06;
}

.moon .moo-low:nth-child(8) {
    position: absolute;
    top: -180px;
    left: -200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 900px;
    width: 900px;
    z-index: -4;
    opacity: 000.05;
}

.moon .moo-low:nth-child(9) {
    position: absolute;
    top: -230px;
    left: -250px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 1000px;
    width: 1000px;
    z-index: -5;
    opacity: 000.04;
}

.portfolio {
    color: #ff4d5a;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: -220px;
    right: 235px;
    font-size: 38px;
    letter-spacing: 3px;
    z-index: 1;
    font-family: "futura_b", 'futura_r', 'Helvetica Neue', 'Helvetica', 'Arial', 'Avenir', 'Hiragino Sans', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.banner {
    position: absolute;
    right: 0;
    width: 600px;
    height: 100vh;
}

.container {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.container #scene .layer {
    top: 0;
    right: 0;
    width: 700px;
    height: 700px;
}

.container #scene .layer img {
    width: 70%;
    height: auto;
    max-width: 80%;
    vertical-align: middle;
}

#scene .layer:nth-child(1) img {
    position: relative;
    top: 370px;
    left: -130px;
    z-index: 1;
}

#scene .layer:nth-child(2) img {
    position: relative;
    top: 20px;
    left: -200px;
    z-index: 0;
    color: white;
    opacity: 0.25;
}

#scene .layer:nth-child(3) img {
    position: relative;
    top: 440px;
    left: 370px;
    z-index: 1;
}

#scene .layer:nth-child(4) img {
    position: relative;
    top: 10px;
    left: 400px;
    z-index: 1;
}

@media (max-width: 1006px) {
    .banner {
        width: 500px;
        height: 80vh;
    }
    .portfolio {
        right: 145px;
    }
}

@media (max-width: 898px) {
    .moon {
        max-width: 200vw;
        max-height: 320px;
        width: 320px;
        left: 150px;
        top: 80px;
    }
    .moonHole {
        top: 100px;
        left: 30px;
        width: 80px;
        height: 80px;
    }
    .moonHoleSmall {
        top: 35px;
        left: 110px;
        width: 60px;
        height: 60px;
    }
    .moonHoleSmallest {
        top: 130px;
        left: 150px;
        width: 35px;
        height: 35px;
    }
    .portfolio {
        bottom: -200px;
        right: 150px;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
    }
    .container #scene .layer {
        width: 450px;
        height: 450px;
    }
    #scene .layer:nth-child(1) img {
        top: 300px;
        left: -20px;
    }
    #scene .layer:nth-child(2) img {
        top: 60px;
        left: -10px;
    }
    #scene .layer:nth-child(3) img {
        top: 300px;
        left: 330px;
    }
    #scene .layer:nth-child(4) img {
        top: 80px;
        left: 350px;
    }
}