* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(45deg, #162d37, #112430, #0d1922, #09111d, #000412);
    background-size: 300%, 300%;
    animation: colors 7s ease infinite;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}